html, body, div, span, h1, h2, h3, h4, h5, h6, p,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin-top: 67px;
}

.expenses {
    display: flex;
    column-gap: 60px;
    margin-bottom: 60px;
}

.expenses-input {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.categorySelect {
    width: 484px;
    height: 52px;
    font-size: 32px;
}

.row {
    display: flex;
    gap: 200px;
}

.header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.input {
    box-sizing: border-box;
    width: 484px;
    height: 52px;
    font-size: 32px;
}

.items {
    position: relative;
}

.fixed-label {
    position: absolute;
    top: 5px;
    right: 10px;
}

.add-button {
    cursor: pointer;
    width: 370px;
    height: 58px;
    font-size: 32px;
    color: white;
    background-color: rgb(0, 148, 255);
    border: none;
    border-radius: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    height: 200px;
}

.limit {
    font-weight: 400;
}

.changeLimitBtn {
    margin-left: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.history {
    height: 120px;
}

.status {
    color: green;
}

.status_red {
    color: red;
}


.history-items {
    margin-left: 35px;
}

.reset-buton {
    cursor: pointer;
    width: 480px;
    height: 58px;
    font-size: 32px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
}